
.headings__item{
    display: flex;
    gap: 10px;
    margin-right: 25px;
    padding-right: 50px;
    align-items: center;
    height: 48px;
    border-right: $border-right;
    @include respond(phone){
        border-right: none;
        align-items: flex-start;
        height: auto;
        width: 130px;
        margin-right: 20px;
        padding-right: 20px;
    }
}