// Primary background color
$bg-primary: #1c2127;

// Light variant of primary background color
$bg-primary-light: lighten($bg-primary, 10%);

// Dark variant of primary background color
$bg-primary-dark: darken($bg-primary, 10%);

$font-size-base: 15px;
$color-primary: white;

$border-radius: 5px;
$box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
$border: 1px solid red