body {
    display: grid;
    grid-template-rows: 72px 80px auto auto;
    grid-template-columns: 100vw;
    @include respond(phone){
        grid-template-rows: 72px auto auto auto;
    }
  }
  header{
    background-color: $bg-primary-light;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
  }
  .headings{
    display: flex;
    gap: 8px;
    align-items: center;
    padding: 16px;
    background-color: $bg-primary-light;
    margin: 4px;
    border-radius: $border-radius;
    @include respond(phone){
      flex-direction: column;
      align-items:flex-start;
      gap: 20px;
  }
}
  .main{
    display: grid;
    grid-template-columns: 60% 20% 19.5%;
    width: 100vw;
    gap: 3px;
    @include respond(phone){
        grid-template-columns: 100%;
        grid-template-rows: 60% 39%;
        height: 600px;
        width: 100%;
    }
  }

  